html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.header{
    padding:25px;
    border: 10px;
    color: white;
    text-align: center;
    background: #1abc9c;
    font-family: "Verdana","DejaVu Sans","sans-serif";
    font-size:30px;
}
.sub{
    color: black;
    font-family: "Verdana","DejaVu Sans","sans-serif";
    font-size:20px;
}
.cat{
    color: black;
    font-family: "Verdana","DejaVu Sans","sans-serif";
    font-size:16px;
}
.item{
    color: black;
    font-family: "Verdana","DejaVu Sans","sans-serif";
    font-size:12px;
}
#id1{
    color: blue;
    font-size: 36px;
}
.cool{
    font-size: 24px;
}
#id2{
    color: black;
    background-color: green;
    font-size: 24px;
    font-weight: 700;
}
.inverted,
.fancy {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.inverted {
  background-color: black;
  color: white;
}

.fancy {
  background-color: yellow;
}
.flex-container{
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #1abc9c;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    font-family: "Verdana","DejaVu Sans","sans-serif";
    font-size:18px;
}
  
.flex-container a:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
}
      